.littany {
    font-family: var(--serif);
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    align-items: center;
}

.final-line {
    margin: 0.4rem 0 0.4rem 0;
    font-size: 1.8rem;
    font-weight: bold;
}

.that-remains {
    image-rendering: pixelated;
    margin-top: 0;
    margin-bottom: 0;
}

.joke {
    font-family: var(--sans);
    font-size: 0.8rem;
    opacity: 40%;
}

