button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    
    color: var(--text);
    text-decoration-line: underline;
    text-decoration-color: var(--link);
}

svg.toggle-icon {
    width: 1.2rem;
    height: 1.2rem;
    stroke: var(--text);
}
