button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    
    color: var(--text);
    text-decoration-line: underline;
    text-decoration-color: var(--link);
}
